<h1 style="text-align:center; margin-top: 40px;">
	Esta página es únicamente para nuestros distribuidores.
</h1>

<p style="text-align:center;"> 
  	<a href="/pages/sobre-nosotros"> 
    	<img src="https://cdn.shopify.com/s/files/1/2491/1384/files/MAPAnuevo_6b00543e-9c94-40f3-aad5-1b70a9ba574a_1024x1024.png?v=1602089446" alt="" /> 
  	</a>
</p>